header {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
}

nav {
    margin-right: 30px;
    width: max-content;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;

}

nav ul li {
    cursor: pointer;
    transition: all 0.1s linear;
}
/* nav ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    transition:all 0.1s linear;
    padding: 0;
    padding-bottom: 5px;
}

nav ul li a.active-link {
    border-bottom: 2px solid blue;
    color: blue;
    font-weight: 400;
} */
nav ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    padding:5px 0px;
    transition: color 0.3s ease-in-out;
}

nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0;
    height: 3px;
    border-radius: 50px;
    background-color: blue;
    transition: all 0.1s linear;
}

nav ul li a.active-link::before {
    width: 100%;
}
nav ul li a.active-link{
    color: blue;
}


nav ul li a:hover {
    color: rgb(0, 4, 255);
}

.logo-box {
    margin-left: 20px;
    cursor: pointer;
}

.search-box {
    width: 400px;
    margin: 0 !important;
}

.search {
    width: 85%;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    padding: 0 10px;
}

.searchbtn {
    border-radius: 50%;
}
.close-btn{
    display: none;
}

.menu-icon {
    font-size: 20px;
    display: none;
}
.search-box2{
    display: none !important;
}


/* for tablet  */
@media (max-width: 2560px) {
    .search-box2{
        display: flex !important;
    }
    .search-box1{
        display: none !important;
    }
    .menu-icon {
        display: block;
        margin-right: 20px;
    }

    nav {
        position: absolute;
        background: #001F3F;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        width: 50%;
        height: 100vh;
        padding: 30px 20px;
        top: 0px;
        right: 0;
        z-index: 1000;
        text-align: center;
        justify-content: start;
        margin: 0;
        transform: translateX(100%); 
        transition: all 0.3s ease-in-out;
        color: white;
    }

    nav ul {
        flex-direction: column;
        padding: 40px 0;
        justify-content: start;
        
    }
    nav ul li a{
        font-weight: 500;
        color: white;
        padding: 0;
    }
    nav ul li a.active-link::before {
        display: none;
    }
    /* nav ul li a.active-link {
       color:    #0d6efd;
    } */

    .close-btn {
        position: absolute;
        top: 10px;
        font-size: 20px;
        left: 14px;
        display: block;
    }

    nav.open {
        transform: translateX(0);
    }
    
    /* BACKDROP OVERLAY */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
    }
    
    /* Show overlay when menu is open */
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    
}

/* for mobile  */
@media (max-width: 448px) {
    nav {
        width: 90%;
    }
}